<h2>{{list.Name}}</h2>
<div>
    <span>{{remaining()}} of {{list.Tasks.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in list.Tasks">
            <label class="checkbox">
                <input type="checkbox" ng-model="todo.Complete" ng-click="markComplete()">
                <input type="hidden" ng-model="todo.Id" value="{{todo.Id}}"/>
                <span class="done-{{todo.Complete}}">{{todo.Label}}</span>
            </label>
        </li>
    </ul>
    <form name="newTask" ng-submit="addTodo()">
        <div class="input-append">
            <span ng-show="newTask.site.$error.required" class="help-inline">Required</span>
            <input type="text" name="Label" class="span2" ng-model="todoText" size="30" placeholder="add new todo here" required>
            <button class="btn btn-primary" type="submit" ng-disabled="newTask.$invalid">add</button>
        </div>
    </form>
</div>